.FooterItems {
   display: flex;
   justify-content: space-between;
}

.FooterBlock {
   padding: 96px 49px 0px 49px;
}

.FooterLogo {
   display: flex;
   flex-direction: column;
}

.Logo {
   font-size: 44px;
   line-height: 1.5;
   margin-bottom: 19px;
   color: #181E4B;
}

.LogoText {
   font-size: 13px;
}

.Content {
   display: grid;
   grid-template-columns: 208px 1fr 215px;
   column-gap: 82px;
   margin-bottom: 84px;
}

.JadooCo {
   text-align: center;
   font-size: 14px;
   margin-bottom: 79px;
}

.FooterNetworksTitle {
   margin-bottom: 16px;
   font-size: 20px;
   letter-spacing: 0.005em;
}

.FooterNetworksItems {
   display: flex;
}

.GooglePlay {
   margin-right: 7px;
}

.FooterImages {
   display: flex;
   margin-bottom: 26px;
   align-items: center;
}

.ImageFirst {
   background: #FFFFFF;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
   height: 41px;
   width: 41px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

   &:not(:last-child) {
      margin-right: 25px;
   }

}

.ImageSecond {
   background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
   height: 45px;
   width: 45px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 25px;
}

@media (max-width: 1199.98px) {
   .Content {
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      margin-bottom: 70px;
      grid-template-rows: auto auto;
      row-gap: 50px;
   }

   .FooterItems {
      order: 3;
      grid-column-start: span 2;
   }

   .FooterItems {
      justify-content: space-evenly;
   }

   .FooterLogo {
      justify-self: start;
   }

   .FooterNetworks {
      justify-self: end;
   }

   .FooterBlock {
      padding: 80px 35px 0px 35px;
   }

   .JadooCo {
      margin-bottom: 50px;
   }

   .Logo {
      text-align: center;
   }

}

@media (max-width: 991.98px) {
   .FooterItems {
      justify-content: space-between;
   }

   .Logo {
      text-align: left;
   }

   .JadooCo {
      margin-bottom: 40px;
   }

   .FooterBlock {
      padding: 70px 25px 0px 25px;
   }
}

@media (max-width: 766.98px) {
   .Content {
      column-gap: 40px;
      margin-bottom: 50px;
      row-gap: 40px;
   }

   .JadooCo {
      margin-bottom: 30px;
   }
}

@media (max-width: 575px) {
   .Content {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      margin-bottom: 40px;
   }

   .JadooCo {
      margin-bottom: 10px;
   }

   .FooterItems {
      flex-direction: column;
      order: 2;
      grid-column-start: span 1;
   }

   .FooterNetworks {
      justify-self: start;
   }
}