.HeaderBody {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 47px 0px 18px;
}

.Header {
   min-height: 105px;
}

.HeaderLogin {
   margin-right: 52px;
   position: relative;
   z-index: 50;
}

.LoginItem {
   color: #212832;
   font-size: 17px;
   line-height: 1.3;
   transition: color 0.3s linear 0s;
   background-color: inherit;

   &:hover {
      color: #DF6951;
      transition: color 0.3s linear 0s;
   }
}

.HeaderNav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.HeaderLogo {
   position: relative;
   z-index: 56;
}

.LogoLink {
   height: 34px;
   position: relative;
   width: 115px;
   display: inline-block;
}

.HeaderSignUp {
   margin-right: 42px;
   position: relative;
   z-index: 50;
}

.HeaderLanguage {
   position: relative;
   z-index: 50;
}

.SignUpItem {
   color: #212832;
   font-size: 17px;
   line-height: 1.3;
   border: 1px solid #212832;
   border-radius: 5px;
   padding: 9px 21px;
   display: flex;
   justify-content: center;
   transition: all 0.3s linear 0s;

   &:hover {
      transition: all 0.3s linear 0s;
      color: #FFFFFF;
      background-color: #DF6951;
   }
}

.ChangeLanguage {
   display: flex;
   align-items: center;
   background-color: inherit;

   span {
      margin-right: 6.5px;
      font-size: 17px;
      line-height: 1.3;
      color: #212832;
      transition: color 0.3s linear 0s;

      &:hover {
         color: #DF6951;
         transition: color 0.3s linear 0s;
      }
   }
}

.Burger {
   width: 30px;
   height: 20px;
   position: relative;
   background-color: inherit;
   display: none;
   z-index: 50;

   &.active span:nth-child(2) {
      opacity: 0;
   }

   &.active span:first-child {
      top: 8px;
      transform: rotate(45deg);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
   }

   &.active span:last-child {
      bottom: 10px;
      transform: rotate(-45deg);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
   }

   span {
      width: 100%;
      height: 2px;
      background-color: #212832;
      position: absolute;
      left: 0;


      &:first-child {
         top: 1px;
         transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      }

      &:last-child {
         bottom: 1px;
         transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      }

      &:nth-child(2) {
         top: 9px;
      }
   }
}

.PopapForm {
   display: flex;
   flex-direction: column;
   position: relative;
}

.PopapText {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 10px;
}

.PopapInput {
   font-size: 14px;
   font-weight: 400;
   line-height: 1.2;
   color: #39425D;
   background-color: #FFFFFF;
   padding: 15px 0px 15px 20px;
   width: 100%;
   border-radius: 10px;
   margin-bottom: 20px;
   border: 1px solid #39425D;
}

.PopapBtn {
   background-color: #F1A501;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   font-size: 17px;
   font-weight: 600;
   line-height: 1.35;
   width: 140px;
   min-height: 50px;
   transition: all 0.3s linear 0s;

   &:hover {
      transition: background-color 0.3s linear 0s;
      background-color: #DF6951;
   }
}

.BtnClose {
   position: absolute;
   top: 0;
   right: 0;
   background-color: inherit;
   width: 15px;
   height: 15px;

   span {
      position: absolute;
      width: 100%;
      background-color: #39425D;
      left: 0;
      top: 0;
      height: 2px;

      &:first-child {
         transform: rotate(45deg);
      }

      &:last-child {
         transform: rotate(-45deg);
      }
   }
}

@media (max-width: 1199.98px) {
   .HeaderLogin {
      margin-right: 30px;
   }

   .HeaderSignUp {
      margin-right: 30px;
   }

   .HeaderBody {
      padding: 40px 0px 18px;
   }

   .Header {
      min-height: 100px;
   }

}

@media (max-width: 991.98px) {
   .Burger {
      display: block;
   }

   .HeaderLanguage {
      margin-right: 40px;
   }

   .HeaderBody {
      padding: 30px 0px 18px;
   }

   .Header {
      min-height: 90px;
   }
}

@media (max-width: 766.98px) {
   .HeaderBody {
      padding: 20px 0px 15px;
   }
}

@media (max-width: 480px) {
   .HeaderLogin {
      margin-right: 20px;
   }

   .Header {
      min-height: 80px;
   }

   .HeaderSignUp {
      margin-right: 20px;
   }

   .SignUpItem {
      padding: 5px 15px;
   }

   .HeaderLanguage {
      margin-right: 20px;
   }

   .LogoLink {
      height: 30px;
      width: 100px;
   }

}

@media (max-width: 420px) {
   .LogoLink {
      height: 25px;
      width: 80px;
   }

   .LoginItem {
      font-size: 15px;
   }

   .SignUpItem {
      font-size: 15px;
      padding: 4px 10px;
   }

   .Header {
      min-height: 75px;
   }

   .ChangeLanguage {
      span {
         margin-right: 3px;
         font-size: 15px;
      }
   }

}

@media (max-width: 374.98px) {
   .HeaderLogin {
      margin-right: 16px;
   }

   .HeaderSignUp {
      margin-right: 16px;
   }

   .SignUpItem {
      padding: 4px 8px;
   }

   .HeaderLanguage {
      margin-right: 16px;
   }

   .LogoLink {
      height: 25px;
      width: 67px;
   }

}